# Python Coursework Conversion

This notebook contains the Python equivalent of the R tasks provided.

### Question 1
Create a PANDAS DataFrame with 5 rows and 2 columns. One column should be names, the other should be an Age.

Remember to import pandas to be able to use it:

```python
import pandas as pd
```

Print your dataframe in the notebook.

### Question 2
Provide examples of the following data structures in python and print or access them as shown.

A list of ints. - print the fourth value.

A tuple - print the tuple

A dictionary representing the four bases of DNA - print the total number of bases represented by your dictionary.

A list of lists of floats. - print the third value in the sixth list.

An array of floats -  print the first four items of the array

A pandas dataframe - print the 9th row.

### Question 3

Use three different methods to print the numbers 200 to 300.

### Question 4
Add or replace the following elements in the list animals (you will need to run the cell below):

1. Replace fish wish another animal of your choice.
2. Add another animal of your choice to the end of the list.
3. Replace octopus with another animal of your choice.

Print the edited list.

In [ ]:
# Replace elements in this list
animals = ["tiger", "lion", "badger", "fox", "rabbit", "fish", "dog", "octopus"]

### Question 5
Using pandas, generate a scatterplot of mpg vs hp using the cars dataset. The data set is read in and assigned to a dataframe by running the cell below. Ensure you have imported all the libraries you need.

In [ ]:
mtcars = "https://raw.githubusercontent.com/Apress/mastering-ml-w-python-in-six-steps/refs/heads/master/Chapter_2_Code/Data/mtcars.csv"
cars = pd.read_csv(mtcars)

### Question 6
Using the startwars dataset imported below, identify the individuals with tallest height and lowest mass.

In [ ]:
starwars_dataset="https://www.fabricionarcizo.com/post/starwars/updated_starwars.csv"
starwars = pd.read_csv(starwars_dataset)

### Question 7
Analyze the life expectancy dataset (which can be loaded by running the cell below).

Calculate the number of unique countries in the dataset.

Calculate the country and year with the highest life expectancy.

Calculate the year with the highest total expenditure.

Provide your code using pandas.

In [ ]:
import seaborn as sns
life_expectancy = sns.load_dataset('healthexp')

### Question 8
Using the diamonds dataset and the plotting code of your choice, plot the following from the diamonds dataset.

1. Carat vs Price in a scatter plot.
2. A histogram of prices.
3. A boxplot of cut vs price.

The code can be loaded from seaborn in the cell below.

In [ ]:
diamonds = sns.load_dataset('diamonds')

### Question 9

Using the same dataset, identify the max and min price in diamonds dataset.

### Question 10
Write a function that will convert carat to grams and find the heaviest diamond.

1 carat = 0.2 grams